*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
    font-family: montserrat;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav{
    background-color: black;
}

nav ul{
    float: right;
    margin-right: 20px;
    color: white;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: white;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

a.active,a:hover{
    transition: .5s;
}

.feedback{
    margin-top: 10rem;
    margin-left: 7rem;

}

.feedbackDescription{
    color: black;
    
}

textarea{
    height: 7rem;
    width: 45rem;
}

.submit{
    background-color: black;
    color: white;
    outline: black;
    display: block;
    margin-top: 1rem;
}


.footer {
    font-size: 12px;
}

